.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 1.5vw;
    box-sizing: border-box;
    z-index: 10;
}

.navbar > h1 {
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.navbar > h1::after {
    content: "";
    position: absolute;
    width: 0;
    height: .07vw;
    background-color: white;
    left: 0;
    bottom: -.2vw;

    transition: width .15s ease-out;
}

.navbar > h1:hover::after {
    width: 100%;
}

.navbar > h1:first-of-type, .navbar > h1:last-of-type {
    font-weight: 300;
}

.navbar > h1:nth-of-type(2) {
    transform: translateX(.2vw);
}