.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 1.5vw;
    box-sizing: border-box;
    z-index: 10;
}

.navbar > h1 {
    font-size: 1vw;
    font-weight: 600;
    transform: translateX(.2vw);
    user-select: none;
}

.navbar > a {
    font-weight: 300;
    position: relative;
    text-decoration: none;
    user-select: none;
}

.navbar > a > h1 {
    font-size: 1vw;
    font-weight: 300;
    user-select: none;
}

.navbar > a > h1::after {
    content: "";
    position: absolute;
    width: 0;
    height: .07vw;
    background-color: white;
    left: 0;
    bottom: -.2vw;

    transition: width .15s ease-out;
}

.navbar > a > h1:hover::after {
    width: 100%;
}
