.about-page {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.about-page .background-video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.about-page-top {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.about-page-top > img {
    width: 23vw;
    object-fit: cover;
    box-sizing: border-box;
}

.about-text {
    display: flex;
    justify-content: space-between;

    transition: opacity 0.15s ease-in-out;
}

.about-text + .link {
    cursor: pointer;
    position: relative;
}

.about-text > h1 {
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 1vw;
}

.dark {
    opacity: 0.3 !important;
}

@media only screen and (max-width: 600px) {
    .about-page-top {
        flex-direction: column;
        gap: 10vw;
    }

    .about-page-top > img {
        width: 57vw;
    }

    .about-text > h1 {
        font-size: 5.5vw;
    }
}
