.about-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-page-container {
    display: flex;
    height: min-content;
    align-items: center;
    gap: 7vw;
}

.about-page-container > img {
    width: 23vw;
    object-fit: cover;
    box-sizing: border-box;
    /* border: 1.25vw solid #ffffff;
    border-bottom: 5vw solid #ffffff; */
}

.about-text {
    display: flex;
    justify-content: space-between;

    transition: opacity 0.15s ease-in-out;
}

.about-text+.link {
    cursor: pointer;
    position: relative;
}

.about-text > h1 {
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 1vw;

}

.about-text > p {
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 1.5vw;
    margin-bottom: 1vw;
    position: relative;
}

.dark {
    opacity: 0.3 !important;
}

